.showPlayer {
    .top {
        display: flex;
        flex-direction: row;
        .photo {
            margin-right: 40px;
            img {
                max-width: 400px;
            }
        }
    }
}
